<!-- Button trigger modal -->
<br>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add Idea
</button>
<br>
<br>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Idea</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for Idea.new do |f| %>
      <div class="modal-body">
        <%= f.input :description %>
        <%= f.input :author %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<% @ideas.each do |idea| %>
  <div class="card">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p><%= idea.description %></p>
        <footer class="blockquote-footer">by <%= idea.author %></footer>
      </blockquote>
      <div class="btn-group" role="group">
      <%= link_to 'Delete', idea_path(idea), class: 'btn btn-sm btn-danger', data: {"turbo-confirm": "Are you sure?", "turbo-method": :delete}%>
      <%= link_to 'Revise', edit_idea_path(idea), class: 'btn btn-sm btn-success' %>
      </div>
    </div>
  </div>
<% end %>
<div class="d-flex justify-content-center will_pagination">
  <%=will_paginate @ideas%>
</div>
